body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.card-header {
    font-weight: bold;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-warning {
    color: #ffffff;
}
